{% extends 'base.html' %}
{% load static %}
{% block content  %}
{% if messages %}
  {% for message in messages %}
 <div class="alert {{ message.tags }}">{{ message }}</div>
  {% endfor%}
{% endif %}

<h5>This is the content of about us page </h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@jt</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Larry</td>
      <td>mark</td>
      <td>@l-marko</td>
    </tr>
  </tbody>
</table>
<h3>Customers list</h3>
<table class="table">
 <thead>
 <tr>
   <th>PHOTO</th>
   <th>NAME</th>
   <th>ADMISSION NUMBER</th>
   <th>EMAIL</th>
   <th>GENDER</th>
   <th>AGE</th>
     <th> </th>
      <th> </th>
 </tr>
 </thead>
  <tbody>
  {% for customer in data %}
  <tr>
      <td>
          {% if customer.image %}
          <img src="{{ customer.image.url}}" alt="{{ customer.name}} " style="width: 80px; height: 80px; object-fit:cover " >
        {% else %}
        <img src="{% static 'images/placeholder.jpg' %}" alt="No Image" style="width: 80px; height: 80px; object-fit:cover ">
          {% endif %}
      </td>
    <td>{{ customer.name}}</td>
    <td>{{ customer.admission_number}}</td>
    <td>{{ customer.email}}</td>
    <td>{{ customer.gender}}</td>
    <td>{{ customer.age}}</td>
      <td><a href="{% url 'update' customer.id %}" class="btn btn-success" type="button">UPDATE</a></td>
      <td><a href="{% url 'delete' customer.id %}" class="btn btn-danger" type="button"
             onclick="return confirm('Are you sure you want to delete this customer?')">DELETE</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}