{% extends 'base.html' %}

{% block content  %}
<h5 >Welcome to avenue hospital  </h5>

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../static/images/Chic%20Brand%20New%20Genuine%20Nike%20Dunk%20Low%20Grey%20Fog%20DD1391-103%20Mens%20Size%204-11%20USA%20Shipping%202024.jpg" class="d-block flex-sm-grow-0 " alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../static/images/doctor-8656663_1280.jpg" class="d-block w-100 h-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../static/images/hallway-5979689_1280.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium ad adipisci aperiam consectetur cum deleniti doloremque ducimus enim error, esse eum ex excepturi fugit harum in iure labore laboriosam laudantium nihil non officia optio pariatur quam quasi quibusdam quidem quis quod quos repellat reprehenderit sequi sit vitae voluptatem voluptates voluptatibus voluptatum! Amet aspernatur fuga incidunt minima modi quisquam, voluptates!</p>

<div class="jumbotron">
  <h1 class="display-4">Health is wealth</h1>
  <p class="lead">Avenue hospital is a non-profit organization is leading in medical expertise and service provision, with deservedly earned recognition throughout East Africa and beyond as an advanced diagnostic, treatment and referral centre Investment in the latest technology and medical equipment has seen us establish leadership in medical procedures both in Kenya and beyond</p>
  <hr class="my-4">
  <p>get well soon </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid distinctio ducimus enim fugit hic impedit iure minus modi necessitatibus nemo omnis porro possimus, rerum soluta, suscipit tempora. Assumenda ex explicabo quos. Blanditiis cumque dignissimos dolorem doloribus est ex hic id placeat praesentium temporibus! Alias culpa debitis ducimus enim hic iste laboriosam necessitatibus neque quas recusandae? Cupiditate eos est repellat.</p>




{% endblock %}